---
---

$primary-color: green;
$secondary-color: blue;
$dropdownmenu-background: orange;
@import 'settings';
@import 'foundation';
@include foundation-everything;
@import 'venues';

main {
  @include grid-row;
  article {
    header, div:first { 
      @include grid-column(12);
    }
  }
  padding : {
    left: 20px;
    right: 20px;
  }
}

.top-bar {
    border-bottom: 1px solid #ddd;

    li.active a {
        color: black;
    }

    ul li >a {
      color: #ccc;
    }
}
footer {
  padding: 20px;
  background-color: black;
  color: white;
}