<div class="full reveal" id="device-modal" data-reveal>
  <div class="row clearfix collapse"><h3>What Type of Device Would You Like To Configure?</h3>
<h4></h4>
  </div>

<div class="row clearfix">  
	<div class="medium-4 columns">
	<a class="button expanded large secondary hollow rounded">B.U.T.T.</a>
  </div>
   <div class="medium-4 columns">
	<a class="button expanded large secondary hollow">A Voice Republic StreamBox</a>
  </div>
   <div class="medium-4 columns">
	<a class="button expanded large secondary hollow">Other compatible software/hardware config</a>
  </div></div>

  <div class="row">
  	<div class="text-center">
  		<a class="button large secondary" data-close>CANCEL</a>
  	</div>
  </div>

  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
