<header>
  <nav class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text"><a href="/">{{site.title}}</a></li>
       
      </ul>
    </div>
    <div class="top-bar-right">
   
      <ul class="menu">
      <li> <a class="state-fake-button"><span><span class="state-msg">Weeks before event.</span></span></a></li>
              <li role="menuitem">
   <a href="#" class="date-btn"> Fast Forward &raquo;</a>
   </li>
      </ul>
    </div>
  </nav>
</header>