<div class="title-bar"><h3 class="lineup-title">Lineup</h3>
</div>
<table class="stack lineup-list">
<tr>
	<th></th>
	<th>Start Time</th>
	<th>Title</th>
	<th>Action</th>
	<th></th>
</tr>
 {% for talk in site.data.lineup %}
<tr class="lineup-list-item">
<td class="blank"></td>
<td>{{talk.time}}</td>
<td>{{talk.name}}</td>
<td class="btns{{forloop.index}}">
	<a href="#" class="button small success hide start">Start Stream</a>
<a href="#" class="button small secondary hollow edit">Edit</a>


</td>
	<td class="blank"></td>


</tr>
    {% endfor %}

</table>