<div class="title-bar"><h4 class="lineup-title">Upcoming Talks:</h4>
</div>
<table class="stack lineup-list">
	<tr>
		<th></th>
		<th>Start Time</th>
		<th></th>
		<th>Title</th>
		<!-- <th>Action</th> -->
		<th></th>
	</tr>
	{% for talk in site.data.upcoming-talks %}
		<tr class="lineup-list-item">
			<td class="blank"></td>
			<td class="talk-time">{{talk.time}}</td>
			<td class="soundbars-cell"></td>
			<td class="talk-title">{{talk.name}}&nbsp; <span class="live label success hide">Streaming </span><span class="stopped label alert hide">STREAM STOPPED</span></td>
			<!-- <td class="btns{{forloop.index}}">
				<a href="#" class="button small hollow info">View Page</a>
					<a href="#" class="button small success hide start disabled">Start Stream</a>
					<a href="#" class="button small alert hide stop">Stop Stream</a>
				<a href="#" data-open="edit-talk" class="button small secondary hollow edit">Edit</a>
			</td> -->
			<td class="blank"></td>
		</tr>
	{% endfor %}
</table>
<div class="title-bar"><h4 class="lineup-title">Previous Talks:</h4>
</div>
<table class="stack lineup-list previous-talks">
	<tr>
		<th></th>
		<th>Start Time</th>
		<th></th>
		<th>Title</th>
		<!-- <th>Action</th> -->
		<th></th>
	</tr>
	{% for talk in site.data.previous-talks %}
		<tr class="lineup-list-item">
			<td class="blank"></td>
			<td class="talk-time">{{talk.time}}</td>
			<td class="soundbars-cell"></td>
			<td class="talk-title">{{talk.name}}&nbsp; <span class="live label hide success">Streaming </span><span class="stopped hide label alert">STREAM STOPPED</span></td>
			<!-- <td class="btns{{forloop.index}}">
				<a href="#" class="button small hollow info">View Page</a>
					<a href="#" class="button small success hide start disabled">Start Stream</a>
					<a href="#" class="button small alert hide stop">Stop Stream</a>
				<a href="#" data-open="edit-talk" class="button small secondary hollow edit">Edit</a>
			</td> -->
			<td class="blank"></td>
		</tr>
	{% endfor %}
</table>