<table class="venue-control-panel">
	<tr class="labels">
		<th class="server-label">
			SERVER <span class="secondary badge float-right">-</span>
		</th>
		<th class="blank" width="2"></th>
			<th class="device-label">
			
			DEVICE 
			<span class="secondary badge float-right">-</span>
			<span class="soundbars float-right">{% include soundbars.html %}</span>

		</th>
		<th class="blank" width="2"></th>

		<th class="clock-label">
			TALK <span class="secondary badge float-right">-</span>
		</th>
	
	
	</tr>
	<tr>
		<td class="server-status">	
			{% include server-switch.html %}
			<!-- First State -->
			<span class="launchable-in">
				Can be started
				<span class="countdown" id="time-till-provisioning"> </span>
			</span>
			<!-- Second State -->
			<span class="start-now hide">
				Start Server Now!
			</span>
			<span class="launching-now hide">
				(<span class="timer"></span>) 
				{% include loading.svg %}
			</span>
			
			<span class="online-for"></span>
		</td>
		<td class="blank" width="2"></td>

		<td class="device-status">
			{% include device-select.html %}
		</td>
		<td class="blank" width="2"></td>
		<td class="main-clock">
			<span class="clock-msg"></span>
			<a href="#" class="button secondary disabled float-right start">START</a>
			<a href="#" class="button alert hollow float-right stop hide">STOP</a>
		</td>
	</tr>
	
</table>