<div class="holder talk-phase1">
	<span class="label scheduled-start">Scheduled Start: <span class="clock-msg"></span></span>
</div>
<div class="holder talk-phase2 hide">
	<span class="label scheduled-start">Scheduled Start: <span class="clock-msg"></span><span class="ago-msg hide"></span></span>
	<a class="button success tiny talk-start-button float-right disabled">Start Broadcast</a>
</div>


<div class="secondary progress talk-progress hide" role="progressbar" tabindex="0" aria-valuenow="25" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
	<div class="progress-meter" style="width: 3%">
		<p class="progress-meter-text"></p>
	</div>
	<a href="#" class="button tiny alert talk-stop-button hollow has-tip tip-top" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="1" title="Are you sure you want to stop the stream early?">Stop Broadcast</a>
</div>