<div id="venue-header" class="clearfix row expanded">
	<div class="medium-12 columns">
		<h1 class="venue-title">
		Preis der Leipziger Buchmesse 
		<span class="label on-air float-right">OFF AIR</span>
		<span class="soundbars float-right">
					<div id="bars">
						<div class="bar-holder"><div class="bar"></div></div>
						<div class="bar-holder"><div class="bar"></div></div>
						<div class="bar-holder"><div class="bar"></div></div>
						<div class="bar-holder"><div class="bar"></div></div>
						<div class="bar-holder"><div class="bar"></div></div>
						<div class="bar-holder"><div class="bar"></div></div>
						<div class="bar-holder"><div class="bar"></div></div>
						<div class="bar-holder"><div class="bar"></div></div>
						<div class="bar-holder"><div class="bar"></div></div>
						<div class="bar-holder"><div class="bar"></div></div>
					</div></span>
		</h1>
	</div>
</div>