<div id="venue-header" class="clearfix row expanded">
	<div class="medium-6 columns">
		<h1 class="venue-title">
		Preis der Leipziger Buchmesse 
		</h1>
		<p class="talk-title"><span class="talk-label">NEXT UP: </span>Preisverleihung „Preis der Leipziger Buchmesse 2016“ 	</p>
		</div>
		<div class="medium-6 columns dashboard">
		<span class="label on-air float-right">OFF AIR</span>
		<span class="soundbars float-right">
					<div id="bars">
						<div class="bar-holder"><div class="bar"></div></div>
						<div class="bar-holder"><div class="bar"></div></div>
						<div class="bar-holder"><div class="bar"></div></div>
						<div class="bar-holder"><div class="bar"></div></div>
						<div class="bar-holder"><div class="bar"></div></div>
						<div class="bar-holder"><div class="bar"></div></div>
						<div class="bar-holder"><div class="bar"></div></div>
						<div class="bar-holder"><div class="bar"></div></div>
						<div class="bar-holder"><div class="bar"></div></div>
						<div class="bar-holder"><div class="bar"></div></div>
					</div></span>
	</div>
</div>