<div class="row clearfix">
	<div id="venue-control-panel" class="clearfix">
		{% for panel in site.data.panels %}
			<div class="medium-4 columns {{panel.nickname}}-panel">
				<div class="titlebar clearfix">
					<h4 class="title">{{panel.name}}
					<span class="neutral badge float-right">&#8734;</span>
					
					</h4>
				</div>
				<div class="divider"></div>
				<div class="actionbar clearfix">
					{% if panel.nickname == "server" %}
						{% include server-markup.html %}
					{% endif %}
					{% if panel.nickname == "device" %}
						{% include device-markup.html %}
					{% endif %}
					{% if panel.nickname == "talk" %}
						{% include talk-markup.html %}
					{% endif %}
					
				</div>
			</div>
		{% endfor %}
		
	</div>
</div>