//venue page

#main {
    padding: 24px 0 0 0;
}

.top-bar svg {
    width: 16px;
    height: 16px;
    fill: $primary-color;
}

.index #main {
    padding: 18px;
}

.panel-outside {
    flex: 0 0 25%;
    padding: 6px;
    margin: 0;
    display: flex;
}

.panel {
    width: 100%;
    transition: background .2s;
    background: #f4f4f4;
    border-color: #ccc;
    color: #333;
    margin: 0;

    &:hover {
        background: white;
    }
}

.lineup-title {
    margin-bottom: 48px;
}

body.venues {
    background: #fff;
}

.date-btn {
    color: #eee;

    svg {
        fill: currentColor;
    }
}

#venue-header, #start-header {
    background: #fff;
    padding: 24px 12px;
    border-bottom: 1px solid #ccc;

    h1 {
        // font-size: rem-calc(24);
        font-weight: 500;
        margin: 0;
    }

    p.countdown-text {
        font-size: rem-calc(24);
        font-weight: 300;
        margin: 0;
        line-height: 1.4;
    }

    .button {
        margin: 0;
    }
}

#venue-header {
    h1 {
        font-size: rem-calc(24);
    }
}

#server-status-bar {
    background: #f4f4f4;
    padding: 24px;
    border-bottom: 1px solid #ccc;

    svg {
        width: 18px;
        height: 18px;
        fill: currentColor;
        vertical-align: middle;
    }

    h3 {
        font-size: rem-calc(14);
        width: 100%;
        text-align: center;

        // text-transform: uppercase;
        margin: 0;
    }

    .button {
        margin: 0;
        margin-left: 12px;
    }

    .launchable-in {
        opacity: .5;
    }

    &.provisioning {
        background: lemonchiffon;
    }

    &.provisionable {
        // background: coral;
        cursor: pointer;

        .status {
            margin-left: 12px;
            opacity: 1;

            .button {
                margin: 0;
            }
        }
    }

    &.online {
        background: $success-color;
        color: white;

        h3 {
            font-weight: 500;
        }
    }
}

table {
    text-align: left;
    border-top: 1px solid #ccc;
    border: none;
    width: 100%;

    .button {
        margin: 0;
        width: 100%;
    }

    tbody {
        border: none;
    }

    tbody tr:nth-child(even) {
        background: #none;
    }

    th {
        padding: 12px 0;
    }

    tr {
        border: none;
        border-bottom: 1px solid #ccc;
        background: none;

        &:nth-child(even) {
            background: none;

            &:hover {
                background: white;
            }
        }

        td {
            padding: 12px 0;

            &.soundbars-cell {
                vertical-align: bottom;
                min-width: 36px;
            }
        }

        td.blank {
            width: 24px;
        }

        th:first-child {
            padding-left: 0;
        }

        td:first-child {
            padding-left: 0;
        }

        &:hover {
            background: white;
        }

        &.next-talk {
            background: lemonchiffon;

            &:hover {
                background: lemonchiffon;
            }
        }
    }
}

.live, .stopped {
    background: $success-color;
    color: white;
    padding: 6px;
    display: inline-block;
    margin-left: 6px;
}

.stopped {
    background: $warning-color;
}

.soundbars {
    position: relative;
}

.bar {
    background: $success-color;
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 3px;
    animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
    0% {
        opacity: .35;
        height: 3px;
    }

    100% {
        opacity: 1;
        height: 28px;
    }
}

.bar:nth-child(1) {
    left: 1px;
    animation-duration: 474ms;
}

.bar:nth-child(2) {
    left: 5px;
    animation-duration: 433ms;
}

.bar:nth-child(3) {
    left: 9px;
    animation-duration: 407ms;
}

.bar:nth-child(4) {
    left: 13px;
    animation-duration: 458ms;
}

.bar:nth-child(5) {
    left: 17px;
    animation-duration: 400ms;
}

.bar:nth-child(6) {
    left: 21px;
    animation-duration: 427ms;
}

.bar:nth-child(7) {
    left: 25px;
    animation-duration: 441ms;
}

.bar:nth-child(8) {
    left: 29px;
    animation-duration: 419ms;
}

.bar:nth-child(9) {
    left: 33px;
    animation-duration: 487ms;
}

.bar:nth-child(10) {
    left: 37px;
    animation-duration: 442ms;
}